{{!< default}}
  {{#foreach posts}}
    <article class="post-page single-post">
      <header>
      <span class="post-info">By {{author.name}} on {{date published_at format="MMMM DD, YYYY"}}</span>
	<h2><a href="{{url}}">{{title}}</a></h2>
      </header>
      {{{content}}}
    </article>
  {{/foreach}}

  <section id="pagination" class="clearfix">
  {{pagination}}
  </section>
