{{!< default}}
  {{#post}}
    <article class="single-post post-page">
      <header>
	<span class="post-info">By {{author.name}} on {{date published_at format="MMMM DD, YYYY"}}</span>
	<h1 class='js-title'>{{title}}</h1>
      </header>

      {{{content}}}

      <div class='post-footer clearfix'>
	<div class="author-text">
	  <img class="author-pic" src="{{author.image}}">
	  <span class="author-name">{{author.name}}</span>
	  <span class="author-bio">{{author.bio}}</span>
	</div>
	<div class="share-box">
	    <span class="share-text">Share Post</span>

	    <ul id="share-icons">
		<li>
		    <a href="#" class="icon-twitter js-twitter"></a>
		</li>
		<li>
		    <a href="#" class="icon-facebook js-facebook"></a>
		</li>
		<li>
		    <a href="#" class="icon-googleplus js-googleplus"></a>
		</li>
	    </ul>
	</div>
      </div>
    </article>
  <!-- end of post -->
  {{/post}}
